<%= form_tag(lookup_path, method: "get", id: "search_form", remote: true) do %>
	<div>
	<%= label_tag 'symbol' %>
	<%= search_field_tag :symbol, params[:symbol], id: "symbol", placeholder: "Search stocks" %>
	</div>

	<div>
	<%= label_tag 'start_date' %>
	<%= date_field_tag :start_date, params[:start_date], id: "start-date", value: Date::today.prev_year %>
	</div>

	<div>
	<%= label_tag 'end_date' %>
	<%= date_field_tag :end_date, params[:end_date], id: "end-date", value: Date::today %>
	</div>

	<div>
	<%= submit_tag "Search", name: nil %>
	</div>
<% end %>